body
{
  background-color: #F5F3ED;
  padding: 0;
  margin: 0;
}

#profile-wrapper
{
  padding: 10vh 0 0 0;
}

#profile
{
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.1)
}

h1,
h2,
p
{
  color: #4A3A2F;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

h2
{
  font-size: 30px;
}

p
{
  font-size: 20px;
}

.bg
{
  /* Background pattern modified from subtlepatterns.com */
  background:
    /*linear-gradient( to bottom,
      rgba(255,255,255,0.9) 0%,
      rgba(255,255,255,0.9) 100% ),*/
    url(../img/tiles_brown.png) no-repeat center top;
  background-size: cover;
}

.inset-shadow-cover
{
  /*box-shadow: inset 0 64px 64px -64px rgba(24,9,2,0.6),
              inset 0 -64px 64px -64px rgba(24,9,2,0.6);*/
  box-shadow: inset 0 0 20vh rgba(43,27,16,1);
}

#top
{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transition: box-shadow .3s, ease-in-out;
}

#top h1,
#top p
{
  color: #fbfbfb;
}

#top h1
{
  font-family: "Pompiere", cursive;
  font-size: 72px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
}

#top p
{
  font-size: 26px;
  font-weight: 300;
  margin-top: 10px;
}

#nav
{
  background: rgba(87,50,27,0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  display: table;
  z-index: 2;
  margin: auto;
  text-align: center;
  height: 53px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

#nav.fixed
{
  position: fixed;
  top: 0;
}

#nav a
{
  color: #fbfbfb;
  padding: 16px 24px;
  display: inline-block;
  text-decoration: none;
  transition: background .2s, box-shadow .2s, ease-in-out;
}

#nav a:hover
{
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.nav-offset
{
  display: inline-block;
  height: 53px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section
{
  display: inline-block;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 14px 0px 14px;
}

.inset-shadow
{
  box-shadow: inset 0 48px 48px -48px rgba(33,17,7,0.5);
}

.inset-shadow-b
{
  box-shadow: inset 0 48px 48px -48px rgba(33,17,7,0.7);
}

.bg-blue h2,
.bg-blue p,
.bg-green h2,
.bg-green p,
.bg-purple h2,
.bg-purple p
{
  color: #fbfbfb;
}

.bg-blue
{
  background-color: #008F99;
}

.bg-green
{
  background-color: #106107;
}

.bg-purple
{
  background-color: #6B1164;
}

#section-contact
{
  height: 300px;
}