html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FAF9F6;
  padding: 0;
  margin: 0;
}

#profile {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.1)
}

div {
  color: #706F6D;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 400;
}

.bg {
  /* Background pattern modified from subtlepatterns.com */
  /*background: url(../img/tiles_brown.png);*/
  background: url(../img/bg_guitar.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.inset-shadow-cover {
  /*box-shadow: inset 0 64px 64px -64px rgba(24,9,2,0.6),
              inset 0 -64px 64px -64px rgba(24,9,2,0.6);*/
  box-shadow: inset 0 0 20vh rgba(43,27,16,1);
}

#top {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 10vh 0;
}

#top h1,
#top p {
  color: #fbfbfb;
}

#top h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 75px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
}

#top p {
  /*font-family: "Raleway", sans-serif; UNNECESSARY*/
  font-weight: 100;
  font-style: italic;
  font-size: 26px;
  margin: 10px 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#top a {
  color: #FAF9F6;
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: 3em; /* centers icon; don't ask why */
}

#top .fa {
  position: absolute;
  margin-top: 64px;
  text-shadow: 0 0 3px rgba(0,0,0,0.1);
}

#nav {
  background: rgba(87,50,27,0.8);
  /*background: rgba(154,147,114,0.85);*/
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  display: table;
  z-index: 2;
  margin: auto;
  text-align: center;
  height: 56px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

#nav.fixed {
  position: fixed;
  top: 0;
}

#nav a {
  color: #fbfbfb;
  padding: 18px 30px;
  display: inline-block;
  text-decoration: none;
  transition: background .2s, box-shadow .2s, ease-in-out;
}

#nav a:hover {
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.nav-offset {
  height: 58px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.undo-nav-pos {
  margin-top: -56px;
}

.section {
  width: 100%;
  margin: 0;
  padding: 70px 100px 80px;
}

.section h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  font-size: 54px;
  margin: 10px 0;
}

.section hr {
  margin: 20px auto;
  width: 300px;
/*  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); */
}

.section-bg-div {
  display: inline-block;
  width: 480px;
  margin: 0 30px;
  text-align: left;
  vertical-align: middle;
}

.inset-shadow {
  box-shadow: inset 0 48px 48px -48px rgba(33,17,7,0.4);
}

.inset-shadow-b {
  box-shadow: inset 0 48px 48px -48px rgba(33,17,7,0.6);
}

.bg-blue h2,
.bg-blue h3,
.bg-blue p,
.bg-green h2,
.bg-green h3,
.bg-green p,
.bg-red h2,
.bg-red h3,
.bg-red p,
.bg-purple h2,
.bg-purple h3,
.bg-purple p {
  color: #fbfbfb;
}

.bg-blue {
  background-color: #2F80A1;
}

.bg-green {
  background-color: #106107;
}

.bg-red {
  background-color: #87242B;
}

.bg-purple {
  background-color: #6B1164;
}

#section-projects {
}

.img-project {
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 320px;
  min-width: 450px;
  margin: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);

  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
}

.img-project:hover {
  min-width: 460px;
  box-shadow: 0 0 16px rgba(0,0,0,0.35);
}

.got-data {
  background-image: url(../img/projects/gotdata.png);
}

.democratic-dj {
  background-image: url(../img/projects/democraticdj.png);
}

.animated-player {
  background-image: url(../img/mc/animatedplayer.png);
}

.animation-api {
  background-image: url(../img/mc/animationapi.png);
}

.aquatic-abyss {
  background-image: url(../img/mc/aquaticabyss.png);
}

.mutant-creatures {
  background-image: url(../img/mc/mutantcreatures.png);
}

#section-contact {
  color: #8A7E71;
  padding: 60px 0;
}

#contact-ul {
  /*margin: 20px 0;*/
  margin-right: 1.5em;
}

.contact-li {
  list-style-type: none;
  display: inline-block;
  margin: 0 18px;
  text-align: center;
}

.contact-li .fa {
  color: #8A7E71;
}

.contact-li .fa:hover {
  color: #6E5E4E;
}

#section-contact p {
  font-size: 16px;
  margin-top: 40px;
}

@media only screen and (max-device-width: 480px) {
  #top h1 {
    font-size: 60px;
  }

  #top p {
    font-size: 22px;
    margin-right: 20px;
    margin-left: 20px;
  }

  #nav a {
    padding: 18px 16px;
  }

  #nav a.nav-hide-mobl {
    display: none;
  }

  .img-project {
    min-width: 85%;
    margin-bottom: 16px;
  }

  .img-project:hover {
    min-height: 320px; /* Cancel out transition */
    min-width: 85%;
  }
}